USE [master]
GO
/****** Object:  Database [DoAn12]    Script Date: 4/25/2025 13:19:39 ******/
CREATE DATABASE [DoAn12]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAn12', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DoAn12.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoAn12_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DoAn12_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAn12].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAn12]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 4/25/2025 13:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[MaBV] [varchar](8) NOT NULL,
	[TenBV] [nvarchar](500) NULL,
	[AnhBV] [varchar](200) NULL,
	[NoiDungBV] [nvarchar](max) NULL,
	[ThoiGian] [nvarchar](100) NULL,
	[MaNV] [varchar](8) NULL,
	[NoiDungBV2] [nvarchar](max) NULL,
	[AnhBV1] [varchar](200) NULL,
	[AnhBV2] [varchar](200) NULL,
	[AnhBV3] [varchar](200) NULL,
	[AnhBV4] [varchar](200) NULL,
	[NoiDungBV3] [nvarchar](max) NULL,
	[NoiDungBV4] [nvarchar](max) NULL,
	[NoiDungBV5] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BatDongSan]    Script Date: 4/25/2025 13:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatDongSan](
	[MaBDS] [varchar](8) NOT NULL,
	[GiaBDS] [float] NULL,
	[TenBDS] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[MaDM] [varchar](8) NULL,
	[HinhAnh] [varchar](50) NULL,
	[MoTa] [nvarchar](500) NULL,
	[MoTa1] [nvarchar](max) NULL,
	[MoTa2] [nvarchar](max) NULL,
	[MoTa3] [nvarchar](max) NULL,
	[HinhAnh1] [varchar](50) NULL,
	[HinhAnh2] [varchar](50) NULL,
	[HinhAnh3] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoPhan]    Script Date: 4/25/2025 13:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoPhan](
	[MaBP] [varchar](8) NOT NULL,
	[TenBP] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBatDongSanKH]    Script Date: 4/25/2025 13:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBatDongSanKH](
	[MaChiTietKH] [varchar](8) NOT NULL,
	[MaKH] [varchar](8) NOT NULL,
	[MaBDS] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBatDongSanNT]    Script Date: 4/25/2025 13:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBatDongSanNT](
	[MaChiTietNT] [varchar](8) NOT NULL,
	[MaNT] [varchar](8) NOT NULL,
	[MaBDS] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucBatDongSan]    Script Date: 4/25/2025 13:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucBatDongSan](
	[MaDM] [varchar](8) NOT NULL,
	[TenDM] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[HinhAnh] [varchar](50) NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Form]    Script Date: 4/25/2025 13:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form](
	[MaForm] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[Gmail] [varchar](50) NULL,
	[ChuDe] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](1000) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaForm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/25/2025 13:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](8) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Gmail] [varchar](50) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[MaForm] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/25/2025 13:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](8) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](4) NULL,
	[MaQuyen] [int] NOT NULL,
	[CaLamViec] [nvarchar](50) NULL,
	[MaBP] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaThau]    Script Date: 4/25/2025 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaThau](
	[TenNT] [nvarchar](50) NULL,
	[MaNT] [varchar](8) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Gmail] [varchar](50) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[MaForm] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 4/25/2025 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQuyen] [int] NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
	[Username] [varchar](10) NULL,
	[Password] [varchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BoPhan] ([MaBP], [TenBP]) VALUES (N'BPKD', N'Bộ phận kinh doanh')
INSERT [dbo].[BoPhan] ([MaBP], [TenBP]) VALUES (N'BPND', N'Bộ phận nội dung')
INSERT [dbo].[BoPhan] ([MaBP], [TenBP]) VALUES (N'BPNS', N'Bộ phận nhân sự')
GO
INSERT [dbo].[ChiTietBatDongSanKH] ([MaChiTietKH], [MaKH], [MaBDS]) VALUES (N'CTKH01', N'KH01', N'BDS1')
INSERT [dbo].[ChiTietBatDongSanKH] ([MaChiTietKH], [MaKH], [MaBDS]) VALUES (N'CTKH02', N'KH02', N'BDS2')
GO
INSERT [dbo].[ChiTietBatDongSanNT] ([MaChiTietNT], [MaNT], [MaBDS]) VALUES (N'CTNT01', N'NT01', N'BDS1')
INSERT [dbo].[ChiTietBatDongSanNT] ([MaChiTietNT], [MaNT], [MaBDS]) VALUES (N'CTNT02', N'NT02', N'BDS2')
GO
INSERT [dbo].[DanhMucBatDongSan] ([MaDM], [TenDM], [SoLuong], [HinhAnh], [MoTa]) VALUES (N'DM01', N'Villa', 3, N'hinhdmvilla.jpg', N'Dự án villa là một khu phức hợp nhà ở sang trọng và riêng biệt, thường được xây dựng trong một khu đất rộng hơn so với các căn hộ chung cư thông thường.')
INSERT [dbo].[DanhMucBatDongSan] ([MaDM], [TenDM], [SoLuong], [HinhAnh], [MoTa]) VALUES (N'DM02', N'Căn hộ', 4, N'hinhcanhhodm.jpg', N'Dự án resort là một khu nghỉ dưỡng hoặc khu du lịch nằm trong một khu đất rộng lớn, đầy tiện nghi và trải nghiệm nghỉ dưỡng đặc biệt cho du khách.')
INSERT [dbo].[DanhMucBatDongSan] ([MaDM], [TenDM], [SoLuong], [HinhAnh], [MoTa]) VALUES (N'DM03', N'Resort', 4, N'hinh2dmresort.jpg', N'Dự án resort là một khu nghỉ dưỡng hoặc khu du lịch nằm trong một khu đất rộng lớn, đầy tiện nghi và trải nghiệm nghỉ dưỡng đặc biệt cho du khách.')
GO
SET IDENTITY_INSERT [dbo].[Form] ON 

INSERT [dbo].[Form] ([MaForm], [Ten], [Gmail], [ChuDe], [NoiDung], [DiaChi], [SoDienThoai], [Status]) VALUES (1, N'Lê Minh Tùng', N'loc123@gmail.com', N'Muốn được đầu tư', N'hình th?c d?u tu', N'0898456878', N'Q7', 0)
INSERT [dbo].[Form] ([MaForm], [Ten], [Gmail], [ChuDe], [NoiDung], [DiaChi], [SoDienThoai], [Status]) VALUES (2, N'Trần Tấn Lộc', N'loc123@gmail.com', N'Muốn được đầu tư', N'hình th?c d?u tu', N'0898456878', N'Q7', 0)
INSERT [dbo].[Form] ([MaForm], [Ten], [Gmail], [ChuDe], [NoiDung], [DiaChi], [SoDienThoai], [Status]) VALUES (3, N'dsf', N'fsd@gmail.com', N'dsf', N'sdf', N'dsf', N'0948620100', 0)
SET IDENTITY_INSERT [dbo].[Form] OFF
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [Gmail], [SoDienThoai], [MaForm]) VALUES (N'KH01', N'Võ Công Đanh', N'Trà Vinh', NULL, N'0987654321', 2)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [Gmail], [SoDienThoai], [MaForm]) VALUES (N'KH02', N'Võ Công Đanh2', N'Trà Vinh', NULL, N'0123456789', 2)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [Gmail], [SoDienThoai], [MaForm]) VALUES (N'KH03', N'Trần Đức Hà Sơn', N'Sư vạn hạnh,Q10', N'tri2@gmail.com', N'0812495209', 2)
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [MaQuyen], [CaLamViec], [MaBP]) VALUES (N'NV01', N'Lee Min Tùng', N'Nam', 1, N'Sáng', N'BPKD')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [MaQuyen], [CaLamViec], [MaBP]) VALUES (N'NV02', N'John Lộc', N'Nam', 2, N'Sáng', N'BPKD')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [MaQuyen], [CaLamViec], [MaBP]) VALUES (N'NV03', N'Jennie', N'Nữ', 2, N'Trưa', N'TCHC')
GO
INSERT [dbo].[NhaThau] ([TenNT], [MaNT], [DiaChi], [Gmail], [SoDienThoai], [MaForm]) VALUES (N'Võ Công Đanh', N'NT01', N'Trà Vinh', N'danh@gmail.com', N'0987654321', 1)
INSERT [dbo].[NhaThau] ([TenNT], [MaNT], [DiaChi], [Gmail], [SoDienThoai], [MaForm]) VALUES (N'Kevin Lộc', N'NT02', N'2/2A ấp tân thới 2', N'loc155@gmail.com', N'0898230868', 1)
INSERT [dbo].[NhaThau] ([TenNT], [MaNT], [DiaChi], [Gmail], [SoDienThoai], [MaForm]) VALUES (N'John Lộc', N'NT03', N'5/6A ấp tân thới 1', N'loc55@gmail.com', N'0898230868', 1)
GO
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen], [Username], [Password], [ChucVu]) VALUES (0, N'nv2', N'nv2', N'12345678', N'12345678')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen], [Username], [Password], [ChucVu]) VALUES (1, N' Quyền Nhân Viên', N'trantanloc', N'12345678', N'Nhân Viên')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen], [Username], [Password], [ChucVu]) VALUES (2, N' Quyền Quản Lý', N'tanloc', N'123456789', N'Quản Lý')
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BatDongSan]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMucBatDongSan] ([MaDM])
GO
ALTER TABLE [dbo].[ChiTietBatDongSanKH]  WITH CHECK ADD FOREIGN KEY([MaBDS])
REFERENCES [dbo].[BatDongSan] ([MaBDS])
GO
ALTER TABLE [dbo].[ChiTietBatDongSanKH]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[ChiTietBatDongSanNT]  WITH CHECK ADD FOREIGN KEY([MaBDS])
REFERENCES [dbo].[BatDongSan] ([MaBDS])
GO
ALTER TABLE [dbo].[ChiTietBatDongSanNT]  WITH CHECK ADD FOREIGN KEY([MaNT])
REFERENCES [dbo].[NhaThau] ([MaNT])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([MaForm])
REFERENCES [dbo].[Form] ([MaForm])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaBP])
REFERENCES [dbo].[BoPhan] ([MaBP])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[NhaThau]  WITH CHECK ADD FOREIGN KEY([MaForm])
REFERENCES [dbo].[Form] ([MaForm])
GO
USE [master]
GO
