@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DoAnBds.Models.Form
  <div class="main-banner">
    <div class="owl-carousel owl-banner">
      <div class="item item-1">
        <div class="header-text">
          @*<span class="category">Toronto, <em>Canada</em></span>
                <h2>Dự án <br />nổi bật 2023 </h2>*@
        </div>
      </div>
      <div class="item item-2">
        <div class="header-text">
       @*   <span class="category">Melbourne, <em>Australia</em></span>
          <h2>Be Quick!<br>Get the best villa in town</h2>*@
        </div>
      </div>
      <div class="item item-3">
        <div class="header-text">
     @*     <span class="category">Miami, <em>South Florida</em></span>
          <h2>Act Now!<br>Get the highest level penthouse</h2>*@
        </div>
      </div>
    </div>
  </div>

  <div class="featured section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image">
            <img src="~/images/banner.jpg" alt="">
            <a href="http://localhost:5144/trangchu/lienhe"><img src="~/images/featured-icon.png" alt="" style="max-width: 60px; padding: 0px;"></a>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="section-heading">
                    <h6>
                        |
                        Đặc sắc
                    </h6>
                    <h2>
                      Dự Án nổi bật
                    </h2>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Vị trí đắc địa ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                                Có vị trí thuận lợi, gần trung tâm thành phố hoặc khu vực phát triển.
                                Gần các tiện ích như trường học, bệnh viện, siêu thị, công viên, và các địa điểm giải trí.
                                An ninh tốt và môi trường xung quanh an toàn.
                            </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Thiết kế và tiện nghi hiện đại?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                                Có thiết kế thông minh, tận dụng tối đa diện tích sử dụng.
                                Các tiện nghi nội thất và trang thiết bị đạt chất lượng cao.
                                Công nghệ thông tin tích hợp, như hệ thống điều khiển thông minh (smart home), internet nhanh, và các tiện ích hiện đại khác.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Tiện ích và dịch vụ ?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                                Có các tiện ích nội khu như hồ bơi, phòng tập gym, sân chơi cho trẻ em.
                                Dịch vụ quản lý chuyên nghiệp, bảo dưỡng và vệ sinh chất lượng.
                                Các khu vực chung sáng tạo và giao lưu, như sảnh lễ tân hoặc phòng sinh hoạt cộng đồng.

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info-table">
            <ul>
              <li>
                <img src="~/images/info-icon-01.png" alt="" style="max-width: 52px;">
                            <h4>250 m2<br><span>Tổng không gian </span></h4>
              </li>
              <li>
                <img src="~/images/info-icon-02.png" alt="" style="max-width: 52px;">
                            <h4>Liên Hệ<br><span>Hợp đồng đã sẵn sàng</span></h4>
              </li>
              <li>
                <img src="~/images/info-icon-03.png" alt="" style="max-width: 52px;">
                            <h4>Sự chi trả<br><span>Quá trình thanh toán</span></h4>
              </li>
              <li>
                <img src="~/images/info-icon-04.png" alt="" style="max-width: 52px;">
                            <h4>

                                Sự an toàn<br><span>
                                    Được kiểm soát 24/7
                                </span>
                            </h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Video </h6>
                    <h2> Có được cái nhìn gần hơn </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="video-frame">
            <img src="~/images/video-frame.jpg" alt="">
            <a href="https://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="row">
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="34" data-speed="1000"></h2>
                                <p class="count-text ">Các tòa nhà<br>Đã hoàn thành</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="12" data-speed="1000"></h2>
                  <p class="count-text ">Năm<br>Kinh nghiệm</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="24" data-speed="1000"></h2>
                                <p class="count-text ">Giải Thưởng<br>Thắng 2023</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section best-deal">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="section-heading">
                    <h6>
                        |
                        ƯU ĐÃI TỐT NHẤT
                    </h6>
                    <h2>Tìm giao dịch tốt nhất của bạn ngay bây giờ!</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="appartment-tab" data-bs-toggle="tab" data-bs-target="#appartment" type="button" role="tab" aria-controls="appartment" aria-selected="true">Căn Hộ</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="villa-tab" data-bs-toggle="tab" data-bs-target="#villa" type="button" role="tab" aria-controls="villa" aria-selected="false">Biệt Thự</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="penthouse-tab" data-bs-toggle="tab" data-bs-target="#penthouse" type="button" role="tab" aria-controls="penthouse" aria-selected="false">Resort</button>
                  </li>
                </ul>
              </div>              
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="appartment" role="tabpanel" aria-labelledby="appartment-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                                                <li>Tổng không gian  <span>185 m2</span></li>
                                                <li>
                                                    Lầu số <span>26th</span>
                                                </li>
                                                <li>Số phòng <span>4</span></li>
                                                <li>
                                                    Có bãi đậu xe <span>Có</span>
                                                </li>
                                                <li>Thanh toán <span>Ngân hàng</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="~/images/deal-01.jpg" alt="">
                    </div>
                    <div class="col-lg-3">
                                        <h4>Thông tin bổ sung về tài sản</h4>
                                        <p>
                                            Căn hộ trong thành phố thường là sự lựa chọn sống hiện đại và tiện nghi, mang lại cho cư dân sự thuận tiện và tiếp cận dễ dàng đến các tiện ích và hoạt động của trung tâm đô thị. Dưới đây là một giới thiệu tổng quan về căn hộ trong thành phố:
                                            <br><br>Căn hộ trong thành phố thường là sự lựa chọn phổ biến cho những người muốn sống gần trung tâm, tiện nghi và năng động. Tùy thuộc vào từng dự án và nhu cầu cụ thể, các căn hộ này có thể mang lại một trải nghiệm sống độc đáo và tiện ích cho cư dân..
                                        </p>
                      <div class="icon-button">
                        <a href="#lienhe"><i class="fa fa-calendar"></i> Liên Hệ Ngay</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="villa" role="tabpanel" aria-labelledby="villa-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                                                <li>Tổng không gian  <span>185 m2</span></li>
                                                <li>
                                                    Lầu số <span>26th</span>
                                                </li>
                                                <li>Số phòng <span>4</span></li>
                                                <li>
                                                    Có bãi đậu xe <span>Có</span>
                                                </li>
                                                <li>Thanh toán <span>Ngân hàng</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="~/images/deal-02.jpg" alt="">
                    </div>
                    <div class="col-lg-3">
                                        <h4>Thông tin bổ sung về tài sản</h4>
                                        <p>
                                            Villa trong thành phố là một dạng nhà ở cao cấp, thường được xây dựng ở những khu vực đô thị và nằm trong các quận có vị trí thuận lợi. Dưới đây là một số đặc điểm quan trọng khi nói về villa trong thành phố <br><br>Với những đặc điểm này, villa trong thành phố đem lại không gian sống đẳng cấp và thuận tiện, là lựa chọn phổ biến cho những người muốn tận hưởng cuộc sống đô thị mà không phải hy sinh sự thoải mái và riêng tư.
                                        </p>
                      <div class="icon-button">
                                            <a href="#lienhe"><i class="fa fa-calendar"></i> Liên Hệ Ngay</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="penthouse" role="tabpanel" aria-labelledby="penthouse-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                                                <li>Tổng không gian  <span>185 m2</span></li>
                                            @*    <li>
                                                    Lầu số <span>26th</span>
                                                </li>*@
                                                <li>Số phòng <span>4</span></li>
                                                <li>
                                                    Có bãi đậu xe <span>Có</span>
                                                </li>
                                                <li>Thanh toán <span>Ngân hàng</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="~/images/deal-03.jpg" alt="">
                    </div>
                    <div class="col-lg-3">
                      <h4>Extra Info About Penthouse</h4>
                                        <p>Resort là một địa điểm nghỉ dưỡng được thiết kế để cung cấp trải nghiệm giải trí, nghỉ ngơi và thư giãn cho khách du lịch. Resorts thường nằm ở những vùng đẹp tự nhiên hoặc khu vực nghỉ mát, mang đến không gian lý tưởng để thư giãn và tận hưởng cuộc sống ngoại ô.. <br><br>Resorts mang lại cho khách du lịch không chỉ là nơi nghỉ mà còn là trải nghiệm đặc biệt, kết hợp giữa tiện nghi hiện đại và vẻ đẹp tự nhiên.</p>
                      <div class="icon-button">
                        <a href="http://localhost:5144/trangchu/lienhe"><i class="fa fa-calendar"></i> Liện Hệ</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="properties section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Dự Ám</h6>
            <h2>Dự Án Tiêu Biểu</h2>
          </div>
        </div>
      </div>
      <div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="item">
      <a href="https://aquacity.com.vn/"><img src="~/images/property-05.jpg" alt="" width="200" height="200"></a>
      <span class="category">Aqua City</span>
      <h6>Nổi bật</h6>
      <h4 align="center"><a href="https://aquacity.com.vn/" align="center">Dự Án Bất Động Sản Đô Thị</a></h4>
      <div class="main-button">
        <a href="#lienhe">Liên Hệ Ngay</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="item">
      <a href="https://aquacity.com.vn/"><img src="~/images/property-03.jpg" alt="" width="200" height="200"></a>
      <span class="category">Novaworld Phan Thiết - Mizumi</span>
      <h6>Nổi bật</h6>
      <h4 align="center"><a href="https://novaworldphanthiet.com.vn/phan-khu/olympic" align="center">Dự Án Bất Động Sản Du Lịch</a></h4>
      <div class="main-button">
        <a href="#lienhe">Liên Hệ Ngay</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="item">
      <a href="https://aquacity.com.vn/"><img src="~/images/property-06.jpg" alt="" width="200" height="200"></a>
      <span class="category">Novaworld Phan Thiết - The KingDom</span>
      <h6>Nổi bật</h6>
      <h4 align="center"><a href="https://novaworldphanthiet.com.vn/phan-khu/the-kingdom" align="center">Dự Án Bất Động Sản Du Lịch</a></h4>
      <div class="main-button">
        <a href="#lienhe">Liên Hệ Ngay</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="item">
      <a href="https://aquacity.com.vn/"><img src="~/images/property-01.jpg" alt="" width="200" height="200"></a>
      <span class="category">VicToRia Village</span>
      <h6>Nổi bật</h6>
      <h4 align="center"><a href="https://www.novaland.com.vn/victoria-village" align="center">Dự Án Bất Động Sản Đô Thị</a></h4>
      <div class="main-button">
        <a href="#lienhe">Liên Hệ Ngay</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="item">
      <a href="https://www.novaland.com.vn/the-park-avenue"><img src="~/images/property-04.jpg" alt="" width="200" height="200"></a>
      <span class="category">The Park Avenue</span>
      <h6>Nổi bật</h6>
      <h4 align="center"><a href="https://www.novaland.com.vn/the-park-avenue" align="center">Dự Án Bất Động Sản Đô Thị</a></h4>
      <div class="main-button">
        <a href="#lienhe">Liên Hệ Ngay</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="item">
      <a href="https://aquacity.com.vn/"><img src="~/images/property-02.jpg" alt="" width="200" height="200"></a>
      <span class="category">Plam City</span>
      <h6>Nổi bật</h6>
      <h4 align="center"><a href="https://www.facebook.com/palmcity.novaland" align="center">Dự Án Bất Động Sản Đô Thị</a></h4>
      <div class="main-button">
        <a href="#lienhe">Liên Hệ Ngay</a>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>

  <div class="contact section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Liên Hệ</h6>
            <h2>Hãy Liên Hệ Với Chúng Tôi</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div id="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.1260734410484!2d106.34394437353973!3d9.9234568743502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0175ea296facb%3A0x55ded92e29068221!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBUcsOgIFZpbmg!5e0!3m2!1svi!2s!4v1745547719115!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="item phone">
                <img src="~/images/phone-icon.png" alt="" style="max-width: 52px;">
                <h6>010-020-0340<br><span>Phone Number</span></h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item email">
                <img src="~/images/email-icon.png" alt="" style="max-width: 52px;">
                <h6>info@villa.co<br><span>Business Email</span></h6>
              </div>
            </div>
          </div>
        </div>
            <div class="col-lg-5" id="lienhe">
                <form id="contact-form" method="post" asp-controller="trangchu" asp-action="add">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="tem">Họ Tên</label>
                                <input type="text" name="ten" id="name" placeholder="Họ Tên" autocomplete="on" required asp-for="Ten">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="gmail">Địa Chỉ Gmail</label>
                                <input type="text" name="gmail" id="email" placeholder="Địa Chỉ Gmail" required="" asp-for="Gmail">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="diachi">Địa Chỉ</label>
                                <input type="text" name="diachi" id="email" placeholder="Địa Chỉ" required="" asp-for="DiaChi">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="sodienthoai">Số Điện Thoại</label>
                                <input type="number" name="sodienthoai" id="subject" placeholder="Số Điện Thoại" autocomplete="on" asp-for="SoDienThoai">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="chude">Chủ Đề</label>
                                <input type="text" name="chude" id="subject" placeholder="Chủ Đề" autocomplete="on" asp-for="ChuDe">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="noidung">Nội Dung</label>
                                <textarea name="noidung" id="message" placeholder="Your Message" asp-for="NoiDung"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="orange-button">Send Message</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
        </div>
      </div>
    </div>
  </div>

