@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<div class="single-property section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main-image">
                    <img src="~/images/single-property.jpg" alt="">
                </div>
                <div class="main-content">
                    <span class="category">GIỚI THIỆU CHUNG</span>
                    <h4>SƠ LƯỢC VỀ CÔNG TY</h4>
                    <p>
                        NovaGroup hướng đến Tầm nhìn: là Tập đoàn đầu tư và phát triển kinh tế hàng đầu Việt Nam. Hoạt động trong các lĩnh vực: Dịch vụ - Công nghệ - Công nghiệp.

                        Sứ mệnh: NovaGroup - điểm kết nối cộng đồng doanh nghiệp.

                        “NovaGroup bằng nguồn lực trong hệ sinh thái của Tập đoàn; kết nối, hỗ trợ Doanh nghiệp Việt tạo ra những sản phẩm vượt trội, những dịch vụ trải nghiệm đẳng cấp để cùng hòa nhập vào Cộng đồng Quốc tế”.

                        Tập đoàn VOCONGDANH - thành viên trong hệ sinh thái NovaGroup - là Thương hiệu uy tín hàng đầu trong lĩnh vực đầu tư và phát triển BĐS tại Việt Nam.

                        Trên tổng quỹ đất khoảng 10.600 ha, Tập đoàn VOCONGDANH hiện phát triển 03 dòng sản phẩm chủ lực, gồm: BĐS Đô thị, BĐS Du lịch, và BĐS Công nghiệp.

                        Trải qua hành trình 31 năm hình thành và phát triển, VOCONGDANH hiện sở hữu danh mục gần 50 dự án BĐS; không chỉ dừng lại ở các dự án BĐS nhà ở tại Trung tâm TP.HCM, Tập đoàn còn đầu tư mạnh mẽ loạt dự án BĐS quy mô lớn, với những công trình và sản phẩm dẫn đầu xu hướng, tác động tích cực đến quá trình phát triển đô thị và phát triển du lịch tại các tỉnh thành phía Nam.
                    </p>
                </div>
            <div class="col-sm-12">
                    <img src="~/images/gioithieu-1.jpg" />
            </div>
            </div>
           
        </div>
    </div>
</div>
