@{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/css/stylelogin.css" rel="stylesheet" />
}
@model DoAnBds.Models.PhanQuyen

<style>
    input:required, textarea:required {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }

</style>

<br />
<table align="left" style="margin:0% 1%;">
    <tr>
        <td><a asp-controller="trangchu" asp-action="index"><img src="~/images/arrow.png" width="24" height="24" /></a></td>
    </tr>
</table>
<br />
<br />
<br />
<br />

<form class="kkk" align="center" method="post" asp-area="admin" asp-controller="login" asp-action="index">
    <h1 align="center" style="color:#003849;"><span>ĐĂNG NHẬP</span></h1>
    <div class="inset">
        <p>
            <label for="username">USERNAME</label>
            <input type="text" name="username" id="username" required="required">
            <span class="required">*</span>
        </p>
    
        <p>
            <label for="password">PASSWORD</label>
            <input type="password" name="password" id="password" required="required">
            <span class="required">*</span>
        </p>
 
    </div>
    <p class="p-container">
        <input type="submit" name="go" id="go" value="Đăng nhập">
    </p>
</form>